{% extends 'base.html' %}

{% block container %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">BlogHome
      <small class="font-italic">Express through your blog</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blogs</li>
    </ol>

    <!-- Blog Post -->
    {% for posts in response%}
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="https://images.app.goo.gl/qpSPzkGtuUuxEN1m6" alt="">
              
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{posts.title}}</h2>
            <p class="card-text">{{posts.body}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on January 1, 2017 by
        <a href="#">{{posts.id}}</a>
      </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->
{% endblock container %}