{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Register
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Register</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <form action=""  method="POST" name="sentMessage" id="">
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>First Name*</label>
                            <input type="text" class="form-control" id="first_name" value="{{firstname}}"  name="fname" required data-validation-required-message="Please enter your first name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="controls">
                        <label>Last Name*</label>
                        <input type="text" class="form-control" id="last_name" value="{{lastname}}" name="lname"  required data-validation-required-message="Please enter your last name.">
                        <p class="help-block"></p>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email*</label>
                            <input type="email" class="form-control" id="email" value="{{email}}" name="email"  required data-validation-required-message="Please enter your email.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password*</label>
                            <input type="password" class="form-control" id="password" name="password"  required data-validation-required-message="Please enter your password.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Confirm Password*</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirmpassword" required data-validation-required-message="Please confirm your password.">
                        </div>
                    </div>

                    <div id="success">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                    {{error}}
                    </div>
                    {% endif %}
                    </div>

                    <!-- For success/fail messages -->
                <input type="submit" value="Register"  class="btn btn-primary mt-1">
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock container %}

